body{
	font-family: Georgia, 'Times New Roman', Times, serif;
}






/**
.titulo-principal {
	text-align: center;
	font-family: 'anton', sans-serif;
	font-size: 2em;
	padding: 0px 0 30px 0;
}
**/





