

.caixa{
	position: absolute;
	padding: 0 50px 0 0;
	right: 20%;
	top: 75px ;
}

.logo{
	margin: 20px 0 0 40px;
	width: 15%;
}

.menu_principal{
	position: relative;
	top: 0;
	width: 120%;
}

.menu_principal a:hover{
	color: #bd0808;
	font-size: 30px;
}

nav{
	padding: 10px;
	position: absolute;
	right: 0;
	top: 110px;
}

nav li{
	display: inline;
	padding: 15px;
	

}

nav a{
	color: black;
	font-size: 20px;
	font-family: fantasy;
	text-decoration: solid;
}

ul {
	display: inline;
	margin-right: 15%;
	vertical-align: top;
	width: 20%;
}


