header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caixa{
    position: relative;
    margin: 0 auto;
    width: 940px;
}

nav{
    position: absolute;
    right: 0;
    top: 110px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover{
    color: red;
    font-size: 30px;
}

nav a:active{
    color: green;
}

.produtos{
    margin: 0 auto;
    padding: 50px 0;
    width: 940px;
}
.produtos li{
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    margin: 0 1.5px;
    text-align: center;
    padding: 30px 20px;
    vertical-align: top;
    width: 30%;
    
}

.produtos li:hover {
    border-width: 5px;
    border-color: red;    
}

.produtos li:active{
    border-color: green;
}

h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    background: url("bg.jpg");
    padding: 2%;
    text-align: center;
}

.logo-branco{
    width: 60px;
}

footer p{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
