.menu__contato{
    cursor: pointer;
    font-size: 30px;
    text-align: center;

}

.menu__contato a:hover{
    font-size: 2.5rem;
}

.menu__contato a{
    text-decoration: none;
    color: white;
}