.menu__lista a:hover{
    background-color: rgb(70, 69, 69);
    font-size: 1.8rem;
    padding: 34px;
}

.menu{
    background-color: rgba(7, 18, 88, 0.977);
    border-bottom: solid;
    display: flex;
    height: 100px;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
}

.menu__lista{
    align-items: center;
    display: flex;
    margin-right: 20px;
    
    
}

.menu__lista a{
    color: rgba(255, 255, 255, 0.866);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 15px;
    text-decoration: none;
}

ul{
    list-style: none;
}

