.menu__lista{
    align-items: center;
    display: flex;
    margin-right: 20px;
    
    
}

.menu__lista a{
    color: rgba(255, 255, 255, 0.866);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    
    margin: 15px;
    text-decoration: none;
}

.menu__lista a:hover{
    /*background-color: rgb(70, 69, 69);*/
    font-size: 1.8rem;
    padding: 34px;
    background-color: rgb(102, 145, 213);
    
}