html{
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: .8em;
  }
.trabalhos{
    background-color: #575757;
    font-size: 2.5rem;
    height: 100vh;
    text-align: center;
}

.trabalhos__tituloPrincipal{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: white;
    padding: 130px 0 40px 0;
    font-weight: bold;
    text-decoration: underline;
}
.trabalhos__titulo{
    
    background-color: #1611118c;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding: 15px;
    

}
