

.trabalhos{
    display: grid;
    grid-template-areas: "trabalhos__tituloPrincipal"
                         "trabalhos_grid";
    background-color: #575757;
    font-size: 2.5rem;
    height: 100vh;
    text-align: center;
}


