.trabalhos_grid{
    display: grid;
    flex-wrap: wrap;
    grid-gap:1rem;
    height: 70vh;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    flex-direction: column;
    
}


