.bem-vindo{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-image: linear-gradient(355deg, black, #000000bd);*/
}

h1{
    color: #fafafa;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: #5a74da 0px -13px 30px;
    -webkit-text-stroke: #080808 3px;
}

.bem-vindo p{
    color: rgba(7, 18, 88, 0.977);
    margin-top: 16px;
    font-size: 2.5rem;
    font-weight: bold;
    -webkit-text-stroke: #fafafa 1px;
}