html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 8em;
}

body{
    background-image: linear-gradient(181deg, rgba(161, 161, 179, 0.98), rgba(54, 54, 55, 0.98));
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}




/* Original
body{
    background-image: linear-gradient(181deg, rgb(28 28 29 / 98%), rgb(7 18 88 / 98%));
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
  */