html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 8em;
}

body{
    background-image: linear-gradient(181deg, rgb(28 28 29 / 98%), rgb(7 18 88 / 98%));
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/*
:target {
    scroll-margin-top: .8em;
  }
  */