.bemVindo{
	height: 570px;
}

.banner{
	width: 100%;
}

.bemVindo h1{
	bottom: 350px;
	color: white;
	font-size: 60px;
	font-weight: bold;
	position: relative;
	padding: 10px;
	text-align: center;
	text-shadow:6px 2px 4px #7a0e0e;
}
