/*
.container{
    background: rgb(69, 68, 68);
    border: 1px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: 50px auto 10%;
    grid-template-rows: 70% 30%;
    height: 35vh;
    gap: 5px;
}

.container div{
    background-color: white;
    padding: 20px;
    border: 1px solid blue;

}
*/

/*
.container{
    background: rgb(69, 68, 68);
    border: 1px solid red;
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas:
        'header header header header'
        'sidebar content content content'
        'footer footer footer footer'
}

.container div{
    background-color: white;
    padding: 20px;
    border: 1px solid blue;

}

#header{
    grid-area: header;
}


#sidebar{
    grid-area: sidebar;
    height: 50vh;
}

#content{
    grid-area: content;
    height: 50vh;
}

#footer{
    grid-area: footer;
}
*/

.container{
    background: rgb(69, 68, 68);
    border: 1px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 50vh;
    /*Alinhamento vertical*/
    justify-content: center;
    /*alinhamento horizontal*/
    align-items: center;
}

.container div{
    background-color: white;
    padding: 20px;
    border: 1px solid blue;

}